<!DOCTYPE html>
<html>

	<head>
		<style>
			body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
			h1{font-size: 48px; text-transform: : uppercase; letter-spacing: : 2px; text-align: ceter;}
			p{font-size: 16px; text-align: center;}
		</style>
	</head>
	<body>
		<% include  partials/nav.ejs%>
		<h1>Contact ME</h1>
		<p>RAAAAAAAAAAAAAAAAAAAAAAA</p>
		<!--<p><%= qs.dept %></p>-->
	<form id="contact-form" method="POST" action="/contact"> 
		<label for="who">Who do you wanna contact?</label>
		<input type="text" name="who" value="<%= qs.person%>">

		<label for="departament">Which departament?</label>
		<input type="text" name="departament" value="<%= qs.dept%>">
		
		<label for="email">Your email</label>
		<input type="email" name="email"/>
		
		<input type="submit" name="submit" />
	</form>		


	
	</body>
</html>